@import "~leaflet/dist/leaflet.css";

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-joyride__tooltip {
  transition: all 0.3s ease-out !important;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.react-joyride__tooltip h4,
.react-joyride__tooltip p {
  color: #007AFF;
}
/*
@keyframes gradient {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.react-joyride__beacon {
  background-color: #4CAF50 !important;
  border: 4px solid #FFFFFF !important;
  border-radius: 50% !important;
  box-shadow: 0px 0px 15px 5px #f39c12 !important;
  width: 100px !important;
  height: 100px !important;
  transition: all 0.5s ease !important;
  z-index: 100 !important;
  position: fixed !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -300%) !important;
} */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.react-joyride__beacon {
  animation: pulse 2s infinite;
}

/* Bouton de démarrage du tutoriel */
.start-tour-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff94;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  width: 55px; /* Initial width to only show icon */
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 500;
}

.start-tour-button:hover {
  width: 220px; /* Width enough to show full text */
  background-color: #0057b3d2;
}

.tour-text {
  font-size: 16px;
  margin-left: 10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease 0.2s; /* Delayed fade-in */
}

.start-tour-button:hover .tour-text {
  opacity: 1;
}

.fa-play-circle {
  transition: transform 0.3s ease;
}

.start-tour-button:hover .fa-play-circle {
  transform: rotate(90deg); /* Subtle rotation */
}

/* Media Queries pour les tablettes */
@media (max-width: 768px) {
  .react-joyride__tooltip {
    width: 80% !important; /* Réduction de la largeur pour les petits écrans */
    font-size: 1.1em !important; /* Réduction de la taille de police */
    padding: 10px !important; /* Ajustement du padding */
  }

  .start-tour-button {
    font-size: 14px;
    padding: 8px 16px;
    bottom: 15px;
    right: 15px;
    width: 45px;
  }

  .start-tour-button:hover {
    width: 180px;
  }

  .tour-text {
    font-size: 14px;
  }
}

/* Media Queries pour les mobiles */
@media (max-width: 576px) {
  .react-joyride__tooltip {
    width: 95% !important; /* Réduction de la largeur pour les petits écrans */
    font-size: 1em !important; /* Réduction de la taille de police */
    padding: 8px !important; /* Ajustement du padding */
  }

  .start-tour-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33333392;
    font-size: 18px;
    padding: 6px 12px;
    bottom: 160px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .start-tour-button:hover {
    background-color: #333333c7;
    width: 170px;
  }

  .start-tour-button .svg-inline--fa {
    padding-left: 10px;
  }

  .tour-text {
    font-size: 12px;
  }
}
